<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Login.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <div class="loginbox">
        <!-- <img src="../images/user.png" class="avatar"> -->
            <h1> Pagina di Login </h1>
            <form action="validateLogin.php" method="post">
                <p>Email</p>
                <input type="email" name="email" placeholder="Inserisci la tua email" required autofocus>
                <p>Password</p>
                <input type="password" name="passw" placeholder="Inserisci la tua password" required>
                <input type="submit" name="loginButton" value="Login">
                <a href="#">Password dimenticata?</a>
                <br>
                <a href="../sign-up/index.html">Non hai un'account? <u>Registrati!</u></a>
            </form>
    </div>

    
</body>
</html>