<div class="container">
    <p>Nuova comunicazione da <%= @nome %>, Admin di CondominioOrganizer!</p>
    <p>
    Dettagli comunicazione<br>
    --------------------------
    </p>
    <p>Username Admin: <%= @nome %></p>
    <p>
    Messaggio:<br>
    ----------
    </p>
    <p><%= @message %></p>
</div>