<div class="container">
    <p>Nuova comunicazione da <%= @nome %> amministratore del condominio (<%= @condominio %>)</p>
    <p>
    Dettagli comunicazione:<br>
    --------------------------
    </p>
    <p><%= @message %></p>
</div>