<div class="container">
    <h1>Modifica Condominio</h1>

    <%= render 'form', condominio: @condominio %>

    <%= link_to 'Bacheca', @condominio %> |
    <%= link_to 'Indietro', condominios_path %>
</div>
