<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Condominio Organizer </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="script.js"></script>
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-grid.css" type="text/css">
        <link rel="stylesheet" href="Contact.css" type="text/css">
    </head>

    <body>
        <div id="FormContainer" class="container">
                <h1 class="h3"> Contattaci </h1>
                <label for="">Nome</label>
                <br>
                <input type="text" name="inputNome" required placeholder="Nome">
                <br>
                <label for="">Cognome</label>
                <br>
                <input type="text" name="inputCognome" required placeholder="Cognome">
                <br>
                <label for="">E-mail</label>
                <br>
                <input type="email" name="inputEmail" required placeholder="E-mail">
                <br>
                <label for="">Testo</label>
                <br>
                <textarea id="w3review" name="w3review" rows="4" cols="27" required placeholder="Testo"></textarea>
  <br>
                <br>
                <button class="btn btn-lg btn-primary" name="RegistrationButton" type="submit" > Invia </button>
        </div>
    </body>
</html>

